@import "variable.scss";
ul {
  gap: 32px;
}

.position-box {
  top: 0px;
}

.injury-heading {
  width: 1000px;

  z-index: 10;
  @media screen and (min-width: 320px) and (max-width: 639px) {
    width: auto;
    text-align: center;
    z-index: 100;
    margin-bottom: 55px;
    margin-top: 30px;
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    width: auto;
    z-index: 100;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    z-index: 100;
    margin-bottom: 55px;
    margin-top: 50px;
  }
}
.blue-box {
  @media screen and (min-width: 320px) and (max-width: 639px) {
    width: 102px;
    height: 218px;
  }
}

.hammer {
  width: 40%;
}
.info-box {
  background-color: $box;
  padding: 125px 146px 125px 332px;
  // height: 889px;
  p {
    margin-top: 32px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    width: 100%;
    padding: 43px 25px;
    height: auto;
    p {
      text-align: justify;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    width: auto;
    padding: 43px 25px;
    height: auto;
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    padding: 40px 40px 40px 155px;
    height: auto;

    h3 {
      font-size: 20px !important;
      line-height: 30px;
    }
    p {
      margin-top: 18px;
      font-size: 12px;
      line-height: 20px;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    padding: 80px 110px 80px 190px;
    height: auto;
    line-height: normal;
    h3 {
      font-size: 28px !important;
      line-height: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}

.swipper-and-heading {
  gap: 200px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  h2 {
    width: 800px;
  }
  p {
    width: 1100px;
  }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    margin-top: 57px;
    h2,
    p {
      width: auto;
    }
  }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    h2 {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    gap: 50px;
    h2,
    p {
      width: auto;
    }
  }
  @media screen and (min-width: 1280px) and (max-width: 1535px) {
    gap: 60px;
    h2,
    p {
      width: auto;
    }
  }
}

.card-container {
  display: grid;
  text-align: center;
  .card {
    background-image: url("/assets/images/injury.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    // width: 448px !important;
    padding: 128px 30px;
    justify-content: center;
    @media screen and (min-width: 320px) and (max-width: 639px) {
      width: 100% !important;
      padding: 115px 32px;
      .card {
        width: auto !important ;
        margin: 0;
      }
    }
    @media screen and (min-width: 640px) and (max-width: 767px) {
      padding: 115px 32px;
      h3 {
        font-size: 24px !important;
        line-height: normal !important;
      }
      p {
        line-height: 20px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      height: auto;
      padding: 100px 30px;
      h3 {
        font-size: 30px !important;
      }
    }
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
      padding: 60px 30px;

      h3 {
        font-size: 30px !important;
      }
    }
    @media screen and (min-width: 1280px) and (max-width: 1535px) {
      padding: 72px 30px;
    }
    color: $primary-color;
    h3 {
      font-weight: 700 !important;
    }

    .more {
      color: $least-use;
    }
  }
}

.image2 {
  background-image: url("/assets/images/death.png") !important;
}

.image3 {
  background-image: url("/assets/images/jug-hammer.png") !important;
}

.image4 {
  background-image: url("/assets/images/truck.png") !important;
}
.image5 {
  background-image: url("/assets/images/car-accident.png") !important;
}

.image6 {
  background-image: url("/assets/images/motorcycle-accident.png") !important;
}

.image7 {
  background-image: url("/assets/images/roard-walk-accident.png") !important;
}

.image8 {
  background-image: url("/assets/images/arrest.png") !important;
}

.image9 {
  background-image: url("/assets/images/parking-fine.png") !important;
}

.image10 {
  background-image: url("/assets/images/man-in-jail.png") !important;
}

.box-under {
  left: -145px;
  bottom: -85px;
}

.advo-para {
  margin-top: 30px;
}
.advo-learn-more {
  p {
    margin-left: 60px;
  }
  img:last-child {
    z-index: -10;
    top: -23px;
  }
}

.sefeguard {
  p {
    margin-top: 35px;
  }
  a {
    background-color: $button;
    color: $primary-color;
    padding: 18px 47px;
    @media screen and (min-width: 320px) and (max-width: 639px) {
      padding: 18px 30px;
    }
  }
}
.hammer-container::before {
  content: "";
  width: 477px;
  height: 459px;
  top: -299px;
  z-index: -2000;
  background: url("/assets/images/regualar-logo.png") 0 0 no-repeat;
  position: absolute;
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    width: 189px;
    height: 182px;
    flex-shrink: 0;
    background: url("/assets/images/mobile-logo.png") 0 0 no-repeat;
    top: -118px;
  }
}
