// colors
$primary-color: #fff;
$secondary-color: #000;
$least-use: #f6ae2d;

// button
$button: #004e98;
$button-bordor: #fff;

//icon color
$primary-icon-color: $primary-color;
$secondary-icon-color: $secondary-color;

//box bacground
$box: #f5f5f5;
